body {
	background: #eee;
	background-image: url(../img/bgImg/bg_e.png);
	background-position: initial initial;
	background-repeat: initial initial;
	background-position: initial initial;
	background-repeat: initial initial;
	margin: 0px;
	padding: 0px;
}

.row-fluid div[class*="span"] {min-height:1px}
form .row-fluid  + .row-fluid {margin-top:10px !important}

.row-fluid input[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid select[class*="span"] {display:inline-block}
.row-fluid input[class*="span"] + input[class*="span"], 
.row-fluid textarea[class*="span"] + textarea[class*="span"], 
.row-fluid select[class*="span"] + select[class*="span"] {display:block}

/* dashboard icon navigation*/
.dshb_icoNav {margin:0;text-align:center}
.dshb_icoNav li {-webkit-box-shadow: inset 0px 1px 0px 0px #fff;box-shadow: inset 0px 1px 0px 0px #fff;text-align:center;list-style:none;display:inline-block;margin:0 5px 10px;background: #f9f9f9;background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#efefef));background: -webkit-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: -o-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: -ms-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: linear-gradient(top, #f9f9f9 0%,#efefef 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 );border:1px solid #e2e2e2;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;border-radius: 6px}
.dshb_icoNav li:hover {border-color:#d2d2d2;-moz-box-shadow: 0 0 6px #ccc;-webkit-box-shadow: 0 0 6px #ccc;box-shadow: 0 0 6px #ccc}
.dshb_icoNav li a {position:relative;display:block;padding:42px 8px 8px;width:88px;height:22px;font-size:12px;color:#222;background-repeat:no-repeat;background-position: center 10px}
.dshb_icoNav li a:hover {text-decoration:none}
.dshb_icoNav .label {position:absolute;right:-5px;top:-5px}
.iconNav_left {text-align:left}
.iconNav_right {text-align:right}